# ============================================================
# SISTEMA
# ============================================================
.DS_Store
Thumbs.db

# ============================================================
# PYTHON
# ============================================================
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# ============================================================
# ENTORNOS VIRTUALES
# ============================================================
venv/
.venv/
.env/
ml_pytorch/

# ============================================================
# JUPYTER
# ============================================================
.ipynb_checkpoints/

# ============================================================
# IDEs
# ============================================================
.vscode/
.idea/